.bold {
  font-family: 'GothamPro-Medium';
}

.text {
  font-family: 'GothamPro';
}

.merr-r {
  font-family: 'Merriweather-Regular';
}

.merr-i {
  font-family: 'Merriweather-Italic';
}

p {
  font-family: 'GothamPro';
}

.button {
  padding: 26px 43px 24px 43px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #4e4e4e;
  background-image: linear-gradient(to top, #c8c8c8 0%, #fafafa 100%);
  box-shadow: 0px 3px 1px 1px rgba(78, 78, 78, 0.2);
  border-radius: 50px;
  border: none;
  transition: 0.3s;
  font-family: 'GothamPro';
}

.button:active {
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: -5px;
}

label {
  cursor: pointer;
}

.topbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 710px) {
  .topbar {
    flex-direction: column;
  }
}

.topbar__text {
  margin-top: 17px;
  font-size: 19px;
  margin-bottom: 5px;
  font-family: 'GothamPro';
}

@media (max-width: 710px) {
  .topbar__text {
    margin: 0;
    font-size: 16px;
  }
}

.topbar__text_bold {
  font-weight: bold;
}

.topbar__text_opacity {
  color: #909090;
}

@media (max-width: 710px) {
  .topbar__text_opacity {
    margin: 0;
  }
}

.topbar__phone {
  padding-left: 35px;
  background: url(../img/phone.png) no-repeat 0px 28px;
}

@media (max-width: 710px) {
  .topbar__phone {
    background: url(../img/phone.png) no-repeat 5px 5px;
  }
}

.topbar__phone .topbar__text {
  font-size: 22px;
  margin-bottom: 0;
}

@media (max-width: 710px) {
  .topbar__phone .topbar__text {
    font-size: 16p;
  }
}

.topbar__phone a {
  display: block;
}

@media (max-width: 710px) {
  .topbar__button {
    display: none;
  }
}

.topbar__block {
  font-family: 'GothamPro';
}

@media (max-width: 710px) {
  .topbar__block {
    width: max-content;
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .main {
    justify-content: center;
  }
}

.main .left {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 710px) {
  .main .left {
    width: 100%;
  }
}

.main .left__img {
  width: 63px;
  height: 95px;
  position: absolute;
  bottom: 230px;
  left: 340px;
}

@media (max-width: 710px) {
  .main .left__img {
    display: none;
  }
}

.main .left__title {
  font-size: 45px;
  color: #3a3a3a;
  max-width: 480px;
  margin: 100px 0 15px 0;
  font-family: 'Merriweather-Italic';
  font-weight: normal;
}

@media (max-width: 710px) {
  .main .left__title {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
  }
}

.main .left__title_opacity {
  opacity: 0.6;
  font-family: 'Merriweather-Italic';
}

.main .left__intro {
  color: #3a3a3a;
  font-size: 19px;
  width: 320px;
  margin-bottom: 35px;
}

@media (max-width: 710px) {
  .main .left__intro {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
}

.main .left__button {
  background: #2b8252;
  text-transform: uppercase;
  box-shadow: 0 5px 3px 1px rgba(43, 130, 82, 0.85);
  width: 299px;
  height: 87px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  border-radius: 45px;
  transition: 0.3s;
  margin-bottom: 50px;
  font-family: 'GothamPro';
  position: relative;
  overflow: hidden;
  transition: ease 0.3s;
}

.main .left__button:active {
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 45px;
}

@media (max-width: 710px) {
  .main .left__button:active {
    margin-bottom: 35px;
    margin-top: 5px;
  }
}

@media (max-width: 710px) {
  .main .left__button {
    margin: 40px auto;
  }
}

.main .left__button:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat;
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 1;
  -webkit-transform: rotate(125deg);
  transform: rotate(125deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.main .left--list__item {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #3a3a3a;
  font-family: 'GothamPro';
}

@media (max-width: 710px) {
  .main .left--list__item {
    font-size: 16px;
  }
}

.main .left--list__item .point {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #c6c6c6;
  position: absolute;
  left: 0;
  top: 5px;
}

.main .right {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

@media (max-width: 710px) {
  .main .right {
    display: none;
  }
}

.main .right--block {
  width: 181px;
  height: 137px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  position: relative;
  background: #f6f6f6;
  padding-top: 70px;
}

.main .right--block__bg {
  position: absolute;
  font-size: 92px;
  opacity: 0.08;
  left: 37px;
  top: 18px;
  margin-bottom: 0;
  font-family: 'Merriweather-Regular';
}

.main .right--block__text {
  margin: auto;
  text-align: center;
}

.main .right--block:nth-child(4) {
  padding-top: 85px;
}

.wrapper--calc__bg {
  font-size: 137px;
  opacity: 0.73;
  color: #f4f4f4;
  margin-bottom: -55px;
  z-index: 3;
  position: relative;
  text-align: center;
  letter-spacing: 0.07em;
  font-family: 'Merriweather-Italic';
  font-style: italic;
}

@media (max-width: 1170px) {
  .wrapper--calc__bg {
    display: none;
  }
}

.wrapper--calc__title {
  text-align: center;
  margin-top: 90px;
  margin-bottom: -60px;
  z-index: 5;
  font-size: 42px;
  font-weight: normal;
  font-family: 'Merriweather-Regular';
}

@media (max-width: 1170px) {
  .wrapper--calc__title {
    margin: 10px 0;
  }
}

@media (max-width: 710px) {
  .wrapper--calc__title {
    font-size: 28px;
  }
}

.calc--main {
  z-index: 5;
  margin: 0px auto;
  border: none;
  width: 90%;
  padding: 46px 59px 87px 59px;
  background-color: #f9f9f9;
  background-image: url(../img/bg-cost.png);
  background-repeat: no-repeat;
  box-shadow: inset 0 3px 0 #ffffff;
  border-radius: 5px;
  background-position-y: bottom;
}

@media (max-width: 1170px) {
  .calc--main {
    padding: 20px 10px;
    border-radius: 15px;
    width: 100%;
  }
}

.calc--main__cost {
  font-size: 19px;
  color: #474747;
  margin-left: 240px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'GothamPro';
}

@media (max-width: 710px) {
  .calc--main__cost {
    margin: 5px 0;
    text-align: center;
    font-size: 16px;
  }
}

.calc--main__range {
  width: 100%;
  margin-bottom: 15px;
  -webkit-appearance: none;
}

.calc--main__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #5bb861;
  border: 2px solid #fff;
  cursor: pointer;
  margin-top: -6px;
}

.calc--main__range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #5bb861;
  border: 2px solid #fff;
  cursor: pointer;
  margin-top: -6px;
}

.calc--main__range::-ms-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #5bb861;
  border: 2px solid #fff;
  cursor: pointer;
  margin-top: -6px;
}

.calc--main__range::-webkit-slider-runnable-track {
  height: 4px;
  background: #5bb861;
  border-radius: 5px;
}

.calc--main__range::-moz-range-track {
  height: 4px;
  background: #5bb861;
  border-radius: 5px;
}

.calc--main__range::-ms-trac {
  height: 4px;
  background: #5bb861;
  border-radius: 5px;
}

.calc--main__text {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 80px;
}

@media (max-width: 710px) {
  .calc--main__text {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.calc--checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1170px) {
  .calc--checkbox {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.calc--checkbox__text {
  margin-bottom: 0;
  font-weight: bold;
}

@media (max-width: 710px) {
  .calc--checkbox__text {
    font-size: 12px;
    margin-bottom: 25px;
  }
}

.calc--checkbox__checkbox {
  display: none;
}

.calc--checkbox__checkbox:checked + label div {
  left: 5px;
}

@media (max-width: 710px) {
  .calc--checkbox__checkbox:checked + label div {
    left: 5px;
  }
}

.calc--checkbox__label {
  width: 194px;
  height: 40px;
  background: #e8e8e8;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 710px) {
  .calc--checkbox__label {
    width: 50px;
    margin-bottom: 25px;
  }
}

.calc--checkbox__label-bg {
  position: absolute;
  width: 93px;
  height: 33px;
  top: 3px;
  left: 96px;
  background: #7ac661;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 710px) {
  .calc--checkbox__label-bg {
    width: 15px;
    left: 30px;
  }
}

.sell--top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 1170px) {
  .sell--top {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.sell--top__title {
  text-align: left;
  font-size: 42px;
  margin-bottom: 0;
  font-weight: normal;
  width: 450px;
  margin-right: 150px;
}

@media (max-width: 1170px) {
  .sell--top__title {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
  }
}

.sell--top__text {
  text-align: left;
  font-size: 20px;
  width: 300px;
}

@media (max-width: 1170px) {
  .sell--top__text {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
  }
}

.sell--list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 104px;
  align-items: flex-start;
}

@media (max-width: 1170px) {
  .sell--list {
    flex-wrap: wrap;
  }
}

.sell--list__item {
  width: 316px;
  background: #fff;
  box-shadow: 0 12px 16px rgba(79, 79, 79, 0.03), inset 0 3px 0 #ffffff;
  min-height: 440px;
  border-radius: 10px;
}

.sell--list__item:nth-child(2) {
  margin-top: 21px;
}

@media (max-width: 1170px) {
  .sell--list__item:nth-child(2) {
    margin-top: 0;
  }
}

@media (max-width: 1170px) {
  .sell--list__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 710px) {
  .sell--list__item {
    min-height: 360px;
  }
}

.sell--list__title {
  font-size: 24px;
  text-align: center;
  margin: 39px 0 15px 0;
  font-family: 'Merriweather-Regular';
}

@media (max-width: 710px) {
  .sell--list__title {
    font-size: 20px;
    margin-top: 20px;
  }
}

.sell--list__text {
  font-size: 17px;
  color: #3b3b3b;
  padding: 0 56px;
  text-align: center;
}

@media (max-width: 710px) {
  .sell--list__text {
    font-size: 15px;
  }
}

.reason {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .reason {
    flex-direction: column;
  }
}

.reason--left__title-main {
  margin-top: 58px;
  font-size: 42px;
  width: 370px;
  font-weight: normal;
  font-size: 'Merriweather-Regular';
  margin-bottom: 60px;
}

@media (max-width: 710px) {
  .reason--left__title-main {
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}

.reason--left__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 200px;
}

@media (max-width: 710px) {
  .reason--left__title {
    width: 90%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.reason--left__text {
  margin-bottom: 40px;
  font-size: 16px;
  width: 275px;
}

@media (max-width: 710px) {
  .reason--left__text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}

.reason--right {
  padding-top: 125px;
  padding-bottom: 62px;
}

@media (max-width: 710px) {
  .reason--right {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.reason--right__title {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  width: 200px;
}

@media (max-width: 710px) {
  .reason--right__title {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.reason--right__text {
  margin-bottom: 40px;
  font-size: 16px;
  width: 280px;
}

@media (max-width: 710px) {
  .reason--right__text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}

.footer--main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1170px) {
  .footer--main {
    justify-content: space-around;
  }
}

.footer--social__title {
  font-size: 19px;
  margin-bottom: 5px;
}

@media (max-width: 710px) {
  .footer--social__title {
    font-size: 16px;
    text-align: center;
  }
}

.footer--social__buy {
  font-size: 16px;
  color: #909090;
  margin-bottom: 20px;
}

@media (max-width: 710px) {
  .footer--social__buy {
    font-size: 14px;
    text-align: center;
  }
}

.footer--social__img {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1170px) {
  .footer--social__img {
    margin: 0px auto;
    width: min-content;
  }
}

.footer--social__img img {
  margin-right: 5px;
  margin-bottom: 50px;
}

@media (max-width: 1170px) {
  .footer--social__img img {
    margin-bottom: 10px;
  }
}

.footer--block__title {
  font-size: 17px;
  font-family: 'GothamPro-Medium';
  margin-bottom: 10px;
}

@media (max-width: 710px) {
  .footer--block__title {
    font-size: 16px;
    text-align: center;
  }
}

.footer--block__title_info {
  padding-left: 35px;
}

.footer--block__address {
  font-size: 17px;
  line-height: 1.45em;
}

@media (max-width: 710px) {
  .footer--block__address {
    font-size: 16px;
    text-align: center;
  }
}

.footer--block__address_bold {
  font-family: 'GothamPro-Medium';
}

.footer--block__phone {
  padding-left: 35px;
  position: relative;
}

.footer--block__phone a {
  font-family: 'GothamPro-Medium';
  margin-bottom: 10px;
  font-size: 17px;
  display: block;
}

@media (max-width: 710px) {
  .footer--block__phone a {
    font-size: 16px;
    text-align: center;
  }
}

.footer--block__img {
  position: absolute;
  left: 3px;
  top: 17px;
}

.footer--list__item {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 710px) {
  .footer--list__item {
    font-size: 14px;
    text-align: center;
  }
}

.footer--list__item a:hover {
  color: #9dd496;
  text-decoration: underline;
}

.footer--bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 710px) {
  .footer--bottom {
    justify-content: space-around;
  }
}

.footer--bottom__text {
  font-size: 16px;
  color: #a1a1a1;
  margin: 25px 0;
}

@media (max-width: 710px) {
  .footer--bottom__text {
    margin: 10px 0;
    font-size: 13px;
  }
}
